.submain-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 30px;
    background-color: rgb(253, 251, 247);
}

.submain-text-container {
    flex: 1;
    padding-left: 1.1rem;
    padding-right: 1.4rem;
    padding-bottom: 1.4rem;
    padding-top: 3rem;
}

.submain-content-heading {
    font-size: xx-large;
    color: rgb(50, 50, 50);
    margin-bottom: 2.3rem;
    font-family: serif;
}

.header-and-desc-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: .6rem;
}

.header-and-desc {
    display: flex;
    border-top: 2.5px;
    padding-top: .65rem;
    border-top-color: lightgrey;
    border-top-style: solid;
}

.header {
    width: 25%;
    font-size: 0.715rem;
    margin-bottom: 10px;
    font-family: sans-serif;
    font: normal;
    color: rgb(56, 56, 56);
    letter-spacing: 1.4px;
    line-height: 1.5rem;
}

.desc {
    width: 75%;
    font-size: .915rem;
    font-family: serif;
    color: rgb(56, 56, 56);
    padding-left: 1rem;
    padding-top: 0.3rem;
    line-height: 1.1rem;
    
}

.submain-pic-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1.125rem;
}

.submain-pic {
    max-width: 100%;
    height: auto;
}
