
.a-text {
  font-family: serif;
}

.a-line {
  text-decoration-line: underline;
  font-family: serif;
  -webkit-text-decoration-line: underline;
}

a {
  color: inherit;
}

.px-05 {
    padding-left: .125rem;
    padding-right: .125rem;
}

.text-center {
    text-align: center;
} 

.w-full {
    width: 100%;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.announcement {
  position: relative;
  height: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.nav-bar {
  --tw-bg-opacity: 1;
    background-color: rgb(253 251 247 / var(--tw-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-items: center;
}

.textBlack {
  --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.button {
  cursor: pointer;
}

.grid-col-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.h-12 {
  height: 3rem;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.gap-6 {
  gap: 1.5rem;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.h-full {
  height: 100%;
}

.md:px-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.overflow-y-auto {
  overflow-y: auto;
} 

.justify-end {
  justify-content: flex-end;
}

.shrink-0 {
  flex-shrink: 0;
}

.w-20 {
  width: 5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.md:h-10 {
  height: 2.5rem;
}

.md:ml-auto {
  margin-left: auto;
}

.w-4 {
  width: 1rem;
}

.h-8 {
  height: 2rem;
}


