div {
  display: block;
}

.a-text {
  font-family: serif;
}

.a-line {
  text-decoration-line: underline;
  font-family: serif;
  -webkit-text-decoration-line: underline;
}

.font-serif {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

a {
  color: inherit;
}

.px-05 {
    padding-left: .125rem;
    padding-right: .125rem;
}

.text-center {
    text-align: center;
} 

.w-full {
    width: 100%;
}

.h-auto {
  height: auto;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.py-2 {
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color:  rgb(255 255 255 / var(--tw-bg-opacity));
}

.nav-bar {
  --tw-bg-opacity: 1;
    background-color: rgb(253 251 247 / var(--tw-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-items: center;
}

.text-black {
  --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.button {
  cursor: pointer;
}

.grid-col-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.h-12 {
  height: 3rem;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 1rem;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.h-full {
  height: 100%;
}

.md\\px-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.overflow-y-auto {
  overflow-y: auto;
} 

.justify-end {
  justify-content: flex-end;
}

.shrink-0 {
  flex-shrink: 0;
}

.w-20 {
  width: 5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* .md\\h-10 {
  height: 2.5rem;
}

.md\\ml-auto {
  margin-left: auto;
} */

.w-4 {
  width: 1rem;
}

.h-8 {
  height: 2rem;
}

.relative {
  position: relative;
}

.px-05 {
  padding-left: .125rem;
  padding-right: .125 rem;
}

.top-0 {
  top: 0;
}

.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.z-50 {
  z-index: 50;
}

.z-40 {
  z-index: 40;
}

* {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

.duration-500 {
  transition-duration: .5s;
}

.-translate-y-0, .-translate-y-full {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transition {
  transition-duration: .15s;
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.-translate-y-0 {
  --tw-translate-y: -0px;
}

.-translate-y-full {
  --tw-translate-y: -100%;
}

.hidden {
  transform: translateY(-100%)
}

.sm\\gap7 {
  gap: 1.75rem;
}

.justify-around {
  justify-content: space-around;
}

.stroke-current {
  stroke: currentColor;
}

mask {
  mask-type: alpha;
  x: 0;
  y: 6;
  width: 17;
  height: 11;
}

body {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.justify-center {
  justify-content: center;
}

.no-underline {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.tracking-widest {
  letter-spacing: .1rem;
}

.uppercase {
  text-transform: uppercase;
}

.font-normal {
  font-weight: 400;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.125rem;
}

.font-sans {
  font-family: Halis GR Regular, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.border-opacity-0 {
  --tw-border-opcaity: 0;
}

.bg-cream {
  --tw-bg-opacity: 1;
  background-color: rgb(253 251 247 / var(--tw-bg-opacity));
}

.mb-8 {
  margin-bottom: 1.5rem;
}

.space-y-5 {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  margin-top: calc(1.25rem*(1 - var(--tw-space-y-reverse)));
}

.pb-6 {
  padding-bottom: 1.5rem;
}


.pt-10 {
  padding-top: 8.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.duration-300 {
  transition-duration: .3s;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(51 51 51 / var(--tw-border-opacity));
}

.border-b, .border-y {
  border-bottom-width: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.flex-1 {
  flex: 1 1;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.inset-0, .inset-y-0 {
  bottom: 0;
  top: 0;
}

.inset-0 {
  left: 0;
  right: 0;
}

.fixed {
  position: fixed;
}

.opacity-100 {
  opacity: 1;
}


.px-custom {
  padding-right: 2rem;
  padding-left: 1.5rem;
}

.mr-7 {
  margin-right: 1.5rem;
}

@media (min-width: 1024px) {
  .lg-w-6 {
    width: 1.3rem;
  }

  .lg-h-full {
    height: 100%;
    transition: height 0.3s ease;
  }

  .lg-mr-auto {
    margin-right: auto;
  }
}

.border-opacity-100 {
  --tw-border-opacity: 1;
}


span:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  /* text-decoration-color: black; */
  cursor: pointer;
}

.margin {
  margin-top: 7px;
  margin-bottom: 8px;
}

.margin-bar {
  margin-bottom: 5px;
}